[submodule ".vim/bundle/supertab"]
	path = .vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
[submodule ".vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule ".vim/bundle/vim-trailing-whitespace"]
	path = .vim/bundle/vim-trailing-whitespace
	url = https://github.com/bronson/vim-trailing-whitespace.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule ".vim/bundle/vim-haml"]
	path = .vim/bundle/vim-haml
	url = https://github.com/tpope/vim-haml.git
[submodule ".vim/bundle/drupalvim"]
	path = .vim/bundle/drupalvim
	url = http://git.drupal.org/project/vimrc.git
[submodule ".vim/bundle/textile.vim"]
	path = .vim/bundle/textile.vim
	url = git://github.com/timcharper/textile.vim.git
[submodule ".vim/bundle/vim-jst"]
	path = .vim/bundle/vim-jst
	url = https://github.com/briancollins/vim-jst.git
[submodule ".vim/bundle/vim-mustache-handlebars"]
	path = .vim/bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule ".vim/bundle/puppet"]
	path = .vim/bundle/puppet
	url = git://github.com/rodjek/vim-puppet.git
[submodule ".vim/bundle/Dockerfile.vim"]
	path = .vim/bundle/Dockerfile.vim
	url = https://github.com/ekalinin/Dockerfile.vim.git
[submodule ".vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = git://github.com/kchmck/vim-coffee-script.git
[submodule "entrails/mutt-notmuch-py"]
	path = entrails/mutt-notmuch-py
	url = git@github.com:honza/mutt-notmuch-py.git
[submodule ".vim/bundle/vim-jsx"]
	path = .vim/bundle/vim-jsx
	url = https://github.com/mxw/vim-jsx.git
[submodule ".vim/bundle/vim-clojure-static"]
	path = .vim/bundle/vim-clojure-static
	url = https://github.com/guns/vim-clojure-static
[submodule ".vim/bundle/vim-clojure-highlight"]
	path = .vim/bundle/vim-clojure-highlight
	url = https://github.com/guns/vim-clojure-highlight
[submodule ".vim/bundle/vim-fireplace"]
	path = .vim/bundle/vim-fireplace
	url = https://github.com/tpope/vim-fireplace
[submodule ".vim/bundle/rainbow_parentheses.vim"]
	path = .vim/bundle/rainbow_parentheses.vim
	url = https://github.com/kien/rainbow_parentheses.vim
[submodule ".vim/bundle/vdebug"]
	path = .vim/bundle/vdebug
	url = https://github.com/joonty/vdebug
[submodule "entrails/dcq"]
	path = entrails/dcq
	url = http://git.drupal.org/project/dcq.git
	branch = 7.x-2.x
[submodule ".vim/bundle/vim-cjsx"]
	path = .vim/bundle/vim-cjsx
	url = https://github.com/mtscout6/vim-cjsx.git
[submodule ".vim/bundle/yajs"]
	path = .vim/bundle/yajs
	url = https://github.com/othree/yajs.vim
[submodule ".vim/bundle/twig"]
	path = .vim/bundle/twig
	url = git://github.com/mitsuhiko/vim-jinja.git
[submodule ".vim/bundle/vim-elixir"]
	path = .vim/bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule ".vim/bundle/mustache"]
	path = .vim/bundle/mustache
	url = https://github.com/mustache/vim-mustache-handlebars
[submodule ".vim/vim-vue"]
	path = .vim/bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
[submodule ".vim/bundle/delimitMate"]
	path = .vim/bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate
[submodule ".vim/bundle/vim-force.com"]
	path = .vim/bundle/vim-force.com
	url = https://github.com/neowit/vim-force.com
[submodule ".vim/bundle/vim-abolish"]
	path = .vim/bundle/vim-abolish
	url = https://github.com/tpope/vim-abolish
